body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:blue;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px auto;
    width: 60%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.project-img {
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 8px;
}

.project-img:hover {
    transform: scale(1.1);
}

/* Popup Container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-img {
    max-width: 80%;
    max-height: 80%;
    border: 3px solid white;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    padding: 5px 0;
}
